.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  flex-wrap: wrap;
  /* Para que los elementos se ajusten a la línea siguiente */
}


@media (max-width: 560px) {
  .container {
    grid-template-columns: 100%;
  }
}